footer

    section.colors.container
        
    section.footer-content.container

        div.bottom-triangle

        div.circle-logo-2
         h1 SALLY PETERS
            h2 Online

        div.footer-links
            div.footer-link-1
                ul
                    a(href="#")
                        li ABOUT
                    a(href="#")
                        li BLOG
                    a(href="#")
                        li CONTACT
                    a(href="#")
                        li PRIVACY
                    a(href="#")
                        li TERMS

            div.footer-link-2
                ul
                    a(href="#")
                        li LIFESTYLE
                    a(href="#")
                        li DESIGN
                    a(href="#")
                        li TECH
                    a(href="#")
                        li INSPIRATION
                    a(href="#")
                        li TUTORIALS

        div.footer-form
            h2 join the list
            div.form-container
                div.form-label
                    label NAME:
                div.form-label
                    input
                div.form-label
                    label EMAIL:
                div.form-label
                    input
                div.button
                    button JOIN

    section.bottom-section
        div.container
            p DESIGN BY VANESSA || BLOGPIXIE.COM


        





