@import "base-files/_themeHead.scss";
@import "base-files/config";
@import "base-files/mixins";
@import "base-files/reset";
@import "base-files/bootstrap";

//UNIVERSAL STYLES

//COLOR PALETTE
$black: #000000;
$white: #ffffff;
$hover: #56A0D3;
$main-background: rgb(226, 208, 210);

//TYPOGRAPHY
$serif: serif;
$sansSerif: sans-serif;
$font-one: 'EB Garamond', serif;
$font-two: 'Dancing Script', cursive;
$font-color: rgb(48, 46, 46);
